.DS_Store
.AppleDouble
.LSOverride
DerivedData/
build/
work/
outputs/
outputs/*.app
outputs/*.zip
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.dSYM
*.dSYM.zip
*.xcarchive
*.ipa
*.log
.swiftpm/
.build/
.env
.env.*
!.env.example
